<!DOCTYPE html>
<html>
<head>
    <title>Добавить объект</title>
</head>
<body>
    <h1>Добавить объект</h1>
    <form method="POST">
        <label>Название:</label>
        <label>
            <input type="text" name="name" required>
        </label><br>
        <label>Адрес:</label>
        <label>
            <input type="text" name="address" required>
        </label><br>
        <label>Срок:</label>
        <label>
            <input type="date" name="deadline" required>
        </label><br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>
